{% extends "login.html" %}

{% block main %}
     
     <h5>Funds available {{ cash_money}} </h5>
     
     
     <form action="/buy" method="POST">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock Symbol" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="quantity" placeholder="Quantity" type="number">
        </div>
        
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
    
    
    
    <table class = "table table-light">
    <tr>
        <th>Stock Symbol</th>
        <th>Quantity</th>
        <th>Cost</th>
        <th>Value</th>
    </tr>
    {% for ele in use_sess%}
    <tr >
        <td>{{ ele.symbol  }}</td>
        <td> {{ ele.qty }} </td>
         <td> {{ ele.value }} </td>
        <td> ${{ ele.total_price }} </td>
  </tr>

    {% endfor %}
  
    
    </table>
    
  
  
   
{% endblock %}